body {
  background: rgb(154, 154, 245);
  padding: 25px;
  display: flex;
}

.tarjetas-principal {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 450px;
  height: 500px;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards div {
  width: 65%;
  margin: 15px 
}

.cards img {
  width: 85%;
  height: auto;
  border-radius: 25px; 
}

  .cards div:hover {
    background-color: rgb(187, 187, 231);
    color: #420039;
    transition: 1s; 
  }

    .cards div:hover img {
      width: 100%;
      border-radius: 0px; 
    }

